* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .nav-link {
    color: #fff !important;
}

.navbar-scrolled {
    background: #ffffff !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link {
    color: #000 !important;
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.navbar-nav .nav-link:hover {
    transform: scale(0.96);
    color: #ff9800 !important;
}




.mainDiv {
    background-image: url("https://images.pexels.com/photos/33470544/pexels-photo-33470544.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.card-img-top {
    border: 2px solid #ddd;
    height: 400px;
    object-fit: cover;
}

.btn-custom {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    padding: 12px 30px;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.testi {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px auto 0;
}